*{
    margin: 0;
    padding: 0;
    font-size: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(450deg, #f528e4, #f5cff3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.hero h1{
    font-size: 2em;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
}

.hero h1 span{
    color: #ff2963;
}

textarea{
    width: 70%;
    height: 250px;
    background: #64528f;
    color: #fff;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}

textarea::placeholder{
    font-size: 16px;
    color: #ddd;
}

.row{
    width: 70%;
    display: flex;
    align-items: center;
    gap: 20px;
}

button{
    background: #ff2963;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    max-width: 48%;
}

button img{
    width: 16px;
    margin-right: 10px;
}

select{
    flex: 1;
    color: #fff;
    max-width: 48%;
    background: #403d84;
    height: 40px;
    border-radius: 35px;
    outline: none;
    border: none;
    overflow: hidden;
    padding: 10px;
}

